
/* Tích hợp giao diện */
/* mobile*/
@media only screen and (max-width: 600px) {
    .search input {
        width: 100%;
        margin-right: 0;
    }
    .info {
        padding-top: 10px; 
        margin: 10px;
    }

    .info span {
        padding-bottom: 5px;
    }

    .info a {
        line-height: 22px; 
    }

    #tren {
        height: auto;
    }

    #tren .info {
        width: 100%; 
        margin: 10px; 
    }
    
    #tren ul {
        padding: 0; 
    }
    img {
      max-width: 100%; /* Điều chỉnh kích thước cho màn hình nhỏ hơn 600px */
  }
  .video-container {
    padding-bottom: 35%; /* Tỷ lệ khung hình 4:3 cho di động */
}
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* Tỷ lệ khung hình 16:9 */
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video-comput {
  /* Thêm CSS cho phần video-comput khi ở chế độ di động */
  flex-direction: column; /* Hiển thị các thành phần theo chiều dọc */
}

.video-comput-right,
.video-comput-left {
  width: 100%; /* Đặt chiều rộng 100% cho phần video-comput-right và video-comput-left */
}
    
}

/*desktop*/
@media only screen and (min-width: 601px) {
    .search input {
        width: 300px;
        margin-right: 10px;
    }
    .info {
        padding-top: 30px;
        margin: 20px;
    }
}


/* CSS cho container */
body {
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1140px; /* Điều chỉnh chiều rộng tối đa của container theo ý muốn */
    margin: 0 auto; /* Căn giữa container */
}

/* CSS cho thanh điều hướng */
.navbar {
    background-color: #fff;
    padding: 10px;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #070707;
    font-weight: bold;
}

.navbar a:hover {
    color: #ff9900;
}


.navbar {
    font-family: 'Roboto', sans-serif;
    /* Các quy tắc CSS khác cho thanh điều hướng */
}

.story{
    margin-top:20px ;
}
.story-title{
    max-width: 1140px;
    margin: 0 auto;
}
.story-title span{
    font-size: 20px;
}

.story-item {
    display: flex;
    gap: 15px; /* Điều chỉnh khoảng cách giữa các ảnh */
    width: 100%;
    overflow-x: auto;/* Hiện tab kéo */
}
  
.story-item-detail img {
    width: 100px; /* Điều chỉnh kích thước ảnh theo ý muốn */
    height: 150px;
    border-radius: 10%; /* Bo tròn viền cho ảnh */
    filter: blur(1px); /* Điều chỉnh giá trị theo ý muốn */
    opacity: 0.8; /* Điều chỉnh giá trị theo ý muốn */
}

.story-title-duoi {
    overflow: hidden;
  }
  
.story-item-detail {
    flex: 0 0 auto;
    scroll-snap-align: start;    
  position: relative;
}
.story-item-detail p {
    position: absolute;
    bottom: 0;
    padding: 10px;
    margin: 0;
    text-align: center;
    font-size: 16px;
    color: #fff;
  }  
.post{
    max-width: 1140px;
    display: flex;
    margin: 0px auto;
}
  
  .post-trai{
    flex: 4;
    margin: 10px; /* Điều chỉnh khoảng cách giữa các phần tử */
  }
  .post-giua{
    flex: 2;
    margin: 10px; /* Điều chỉnh khoảng cách giữa các phần tử */
  }
  .post-phai {
    flex: 2;
    margin: 10px; /* Điều chỉnh khoảng cách giữa các phần tử */
    overflow: hidden; /* Ẩn phần bên trái và trên của phần tử */
    border-radius: 10px 0 0 10px; /* Bo tròn góc bên trái */
    border-bottom-left-radius: 10px; /* Bo tròn góc dưới bên trái */
    border-bottom: 1px solid blue; /* Thêm viền dưới cho phần tử */
    border-left: 1px solid blue; /* Thêm viền trái cho phần tử */
    border-right: none; /* Ẩn viền bên phải */
    border-top: none; /* Ẩn viền phía trên */
}
  .post-phai-detail {
    position: relative;
    margin-left: 15px; /* Tăng khoảng cách giữa dấu chấm và nội dung */
}

.post-phai-detail::before {
    content: '\2022'; /* Ký tự dấu chấm tròn */
    position: absolute;
    left: -15px; /* Điều chỉnh khoảng cách giữa dấu chấm và nội dung */
    top: 50%;
    font-size: 25px; /* Điều chỉnh kích thước của dấu chấm */
    color: blue; /* Màu sắc của dấu chấm */
    z-index: 1; /* Đặt z-index để nó đè lên trên bo viền */
}
  
  .post-giua {
    text-align: center; /* Căn giữa nội dung trong .post-giua */
  }
  
  .post-trai img,
  .post-giua img {
    width: 100%; /* Đảm bảo ảnh chiếm toàn bộ width của phần tử cha */
    border-radius: 10px; /* Điều chỉnh độ cong của viền ảnh */
  }
  .post-phai img {
    width: 60%; /* Đảm bảo ảnh chiếm toàn bộ width của phần tử cha */
    border-radius: 10px; /* Điều chỉnh độ cong của viền ảnh */
  }
  .post-phai-detail a{    
    text-decoration: none;    
    margin-right: 10px; /* Khoảng cách giữa tiêu đề và hình ảnh */
  }
  .post-phai-detail {
    display: flex;
    align-items: center; /* Canh giữa theo chiều dọc */
    padding:10px;
  }
  .post-trai-img {
    display: flex;
    font-size: 12px;
  }

  .post-trai-img div {
    margin-right: 20px; /* Khoảng cách giữa mỗi hình ảnh và tiêu đề */
  }
  
  .topblog{
    max-width: 1140px;
    margin:0px auto;
  }
  .topblog-right, .topblog-left {
    flex: 1; /* Phân chia đều không gian cho topblog-right và topblog-left */
    margin: 0 10px; /* Khoảng cách giữa topblog-right và topblog-left */
    display: flex;

  }
.topblog-a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blogtag{
  max-width: 1140px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;  
  margin-bottom: 15px; 
}
.content-container-right img {
  width: 100%;
  border-radius: 8px;
}

.text-content-left {
  flex: 2;
  padding: 0 20px;
}


.text-content-left a img {
  width: 30px; /* Điều chỉnh kích thước của ảnh user */
  border-radius: 50%; /* Bo tròn góc cho ảnh user */
}

#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.2s;
}


.item-container {
  align-items: center; /* Canh giữa theo chiều dọc */
  margin-bottom: 20px; /* Khoảng cách giữa các item */
}

.item-container img {
  width: 100px; /* Điều chỉnh kích thước ảnh */
  height: 100px;
  border-radius: 50%; /* Bo tròn góc ảnh để tạo hình tròn */
  margin-right: 20px; /* Khoảng cách giữa ảnh và nội dung văn bản */
}

.item-container .text-content {
  flex-grow: 1; /* Cho phép nội dung văn bản mở rộng để chiếm hết phần còn lại */
}

.item-container h2 {
  margin: 0; /* Loại bỏ margin mặc định của h2 */
  color: #fff;
}
.form-group button {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #4a57e2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;  
    margin-bottom: 10px; 
}

.form-group button:hover {
  background-color: #45a049;
}
.custom-story-item {
  display: flex;
  gap: 10px; /* Khoảng cách giữa các phần tử */
  align-items: center; /* Căn giữa theo chiều dọc */
}

.custom-story-item-detail img {
  width: 250px; /* Đặt kích thước cho ảnh */
  height: 120px;
  border-radius: 5px; /* Bo tròn góc của ảnh nếu muốn */
}

.custom-story-item-detail p {
  width: 80px;
  height: 70px;
}
.custom-story-title-duoi {
  height: 200px; /* Đặt chiều cao phần tử chứa ảnh */
  overflow: auto; /* Tạo thanh cuộn khi nội dung vượt quá kích thước */
  white-space: nowrap; /* Ngăn chữ xuống dòng để ảnh và chữ nằm trên cùng 1 hàng */
  color: #fff;
  padding: 15px;
}

.custom-story-item {
  display: inline-block; /* Hiển thị các phần tử trên cùng 1 hàng */
  margin-right: 10px; /* Khoảng cách giữa các ảnh */
  vertical-align: top; /* Dọc trên để ảnh và chữ nằm trên cùng 1 đường */
}


.video-comput{
  max-width: 1140px;
  margin: 0px auto;
  display: flex;
  margin-top: 10px;
}
.video-comput-right{
  flex: 4;
}
.video-comput-left{
  flex: 2;
  border: 1px solid #b1aeae;
  border-radius: 15px;
  height: 200px;
}
 /* Định dạng các phần tử container để hiển thị trên cùng một hàng */
 .custom-container {
  display: flex;
  justify-content: space-around; /* Các phần tử con sẽ được căn giữa và cách nhau một khoảng */
  align-items: center; /* Căn các phần tử con theo chiều dọc */
}

/* Định dạng mỗi phần tử con */
.custom-item {
  text-align: center;
}

/* Định dạng ảnh */
.custom-img {
  width: 80%; /* Ảnh chiếm toàn bộ width của phần tử con */
  max-width: 200px; /* Kích thước tối đa của ảnh */
  height: auto; /* Đảm bảo tỷ lệ khung hình không bị thay đổi */
}

